:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet ~ app-footer {
  margin-top: auto;
}

app-header {
  flex-shrink: 0;
}

router-outlet {
  flex-grow: 1;
}

app-footer {
  flex-shrink: 0;
}
